body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    background: #fff;
    background-image: url('bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: relative;
    text-align: center;
}

.text-container {
    padding-top: 50px;
    color: #fff;
    font-size: 50px;
}

.urls {
    padding-top: 450px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.urls p {
    margin-top: 10px;
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    transition: color 0.3s linear;
    text-align: center;
}

.urls a {
    text-decoration: none;
    color: #fff;
}

.urls a:hover {
    color: aqua;
}





